<div class="about-container">
    <h1>About This Application</h1>
    <p>
      This application is designed to manage albums and their assigned photos.
      Users can view a list of albums, review details for each album, and view photos
      in each album.
    </p>
    <h2>Features</h2>
    <ul>
      <li>View a list of albums</li>
      <li>View details of each album</li>
      <li>Edit album titles</li>
      <li>Delete albums</li>
      <li>View photos in each album</li>
    </ul>
    <h2>Technologies Used</h2>
    <p>
      This application is built using Angular 17, TypeScript, and CSS for styling.
    </p>
    <h2>Author</h2>
    <p>
      Developed by Anelya in 2025!
    </p>
    <button routerLink="/home">Return</button>
  </div>